@model BulsLogAgendamento.Models.Agendamento

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Container)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Container)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Numero_Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Numero_Book)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Limite)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Limite)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data_Escolhida)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data_Escolhida)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
