@model IEnumerable<BulsLogAgendamento.Models.Agendamento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Container)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Limite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data_Escolhida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Container)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Limite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data_Escolhida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
